Repository robkenhow77-sigma-labs-trainee/games-tracker-group-project, pull requests merged in 2025-02, with the labels that each got.

#15 Updated pylint and pytest workflows
  .github/workflows/pylint.yml
  dashboard/requirements.txt
Labels: GitHub

#38 Extract file for steam.
  .gitignore
  pipeline/extract_steam.py
  pipeline/requirements.txt
  pipeline/run_extract.sh
  pipeline/run_month.sh
  pipeline/test.sh
  pipeline/test_extract.py
Labels: pipeline

#49 Completed Terraform Code for the dashboard
  terraform/ETL_pipeline.tf
  terraform/dashboard.tf
Labels: terraform, dashboard

#52 Candice - Merge refactored steam transform script into main
  pipeline/requirements.txt
  pipeline/test_transform.py
  pipeline/transform.py
Labels: pipeline

#66 Rob load
  database/connect_to_db.sh
  pipeline/load.py
  pipeline/load_functions.py
  pipeline/requirements.txt
Labels: pipeline

#68 Candice - Adding readme files
  README.md
  cloud/README.md
  dashboard/README.md
  database/README.md
  pipeline/README.md
  pipeline/requirements.txt
  terraform/README.md
  terraform/variables.tf
Labels: documentation

#69 Gog extract file
  pipeline/extract_gog.py
  pipeline/test_extract_gog.py
Labels: pipeline

#86 Rob steam pipeline image
  .github/workflows/steam_pipeline_ECR.yml
  pipeline/steam_pipeline/steam_pipeline_ECR.sh
  pipeline/steam_pipeline/trigger_lambda_local.sh
Labels: pipeline, GitHub

#88 SNS dashboard integration and basic dashboard layout
  dashboard/components.py
  dashboard/main.py
  dashboard/pages/subscribe.py
  dashboard/requirements.txt
Labels: cloud, dashboard

#90 Candice - Merge basic dashboard frame
  dashboard/components.py
  dashboard/dashboard.py
  dashboard/main.py
  dashboard/requirements.txt
Labels: dashboard

#106 Rob extract script cleanup
  pipeline/epic_pipeline/epic_load.py
  pipeline/gog_pipeline/gog_extract.py
  pipeline/gog_pipeline/gog_lambda_extract.py
  pipeline/gog_pipeline/gog_pipeline.py
  pipeline/steam_pipeline/steam_extract.py
  pipeline/steam_pipeline/steam_lambda_extract.py
  pipeline/steam_pipeline/steam_load.py
  pipeline/steam_pipeline/steam_load_functions.py
  pipeline/steam_pipeline/steam_pipeline.py
  pipeline/steam_pipeline/test_steam_extract.py
Labels: pipeline

#117 EPIC extraction finished
  pipeline/epic_pipeline/epic_extract.py
  pipeline/epic_pipeline/get_rating.gql
  pipeline/epic_pipeline/query_all.gql
  pipeline/epic_pipeline/test_epic_extract.py
Labels: pipeline

#120 Rob steam extract
  pipeline/steam_pipeline/steam_extract.py
  pipeline/steam_pipeline/steam_pipeline.py
Labels: pipeline

#124 changed discount to be percentage
  pipeline/epic_pipeline/epic_extract.py
  pipeline/epic_pipeline/query_all.gql
  pipeline/epic_pipeline/test_epic_extract.py
Labels: bug, pipeline

#127 Rob logging and Epic Pipeline
  .github/workflows/epic_pipeline_ECR.yml
  pipeline/epic_pipeline/Dockerfile
  pipeline/epic_pipeline/chrome-installer.sh
  pipeline/epic_pipeline/epic_extract.py
  pipeline/epic_pipeline/epic_load_functions.py
  pipeline/epic_pipeline/epic_pipeline.py
  pipeline/epic_pipeline/epic_transform.py
  pipeline/epic_pipeline/test_epic_transform.py
  pipeline/gog_pipeline/gog_load.py
  pipeline/gog_pipeline/gog_load_functions.py
  pipeline/gog_pipeline/gog_pipeline.py
  pipeline/gog_pipeline/test_gog_extract.py
  pipeline/gog_pipeline/test_gog_transform.py
  pipeline/steam_pipeline/steam_extract.py
  pipeline/steam_pipeline/steam_load.py
  pipeline/steam_pipeline/steam_load_functions.py
  pipeline/steam_pipeline/steam_pipeline.py
  pipeline/steam_pipeline/test_steam_extract.py
  pipeline/steam_pipeline/test_steam_transform.py
Labels: cloud, pipeline, GitHub

#133 Rob pipeline
  pipeline/epic_pipeline/epic_extract.py
  pipeline/epic_pipeline/epic_pipeline.py
  pipeline/gog_pipeline/gog_pipeline.py
  pipeline/steam_pipeline/steam_pipeline.py
Labels: pipeline

#140 Weekly digest email dockerized.
  lambdas/weekly-digest/Dockerfile
  lambdas/weekly-digest/docker_build_weekly_digest.sh
  lambdas/weekly-digest/docker_run_weekly_digest.sh
  lambdas/weekly-digest/requirements.txt
  lambdas/weekly-digest/test_weekly_digest.py
  lambdas/weekly-digest/trigger_lambda_local.sh
  lambdas/weekly-digest/weekly_digest.py
Labels: enhancement

#144 Rob load tests
  pipeline/epic_pipeline/epic_load_functions.py
  pipeline/epic_pipeline/test_epic_load.py
  pipeline/epic_pipeline/test_epic_load_functions.py
  pipeline/gog_pipeline/gog_load_functions.py
  pipeline/gog_pipeline/test_gog_load.py
  pipeline/gog_pipeline/test_gog_load_functions.py
  pipeline/steam_pipeline/steam_load.py
  pipeline/steam_pipeline/steam_load_functions.py
  pipeline/steam_pipeline/test_steam_load_functions.py
Labels: pipeline, testing

#163 Stronger against None types in EPIC for pageSlug
  pipeline/epic_pipeline/epic_extract.py
  pipeline/epic_pipeline/epic_transform.py
Labels: bug

#161 Added the hyperlink database column to loading
  pipeline/epic_pipeline/epic_load.py
  pipeline/epic_pipeline/epic_load_functions.py
  pipeline/epic_pipeline/epic_pipeline.py
  pipeline/epic_pipeline/test_epic_load_functions.py
  pipeline/gog_pipeline/gog_load.py
  pipeline/gog_pipeline/gog_load_functions.py
  pipeline/gog_pipeline/gog_pipeline.py
  pipeline/gog_pipeline/test_gog_load_functions.py
  pipeline/steam_pipeline/steam_load.py
  pipeline/steam_pipeline/steam_load_functions.py
  pipeline/steam_pipeline/steam_pipeline.py
  pipeline/steam_pipeline/test_steam_load_functions.py
Labels: database, pipeline

#171 Pipeline
  pipeline/epic_pipeline/epic_pipeline.py
  pipeline/gog_pipeline/gog_extract.py
  pipeline/gog_pipeline/gog_pipeline.py
  pipeline/steam_pipeline/steam_extract.py
  pipeline/steam_pipeline/steam_pipeline.py
Labels: pipeline

#195 terraform
  terraform/ETL_pipeline.tf
  terraform/daily_email_summary.tf
  terraform/daily_genre_releases.tf
  terraform/weekly_email_summary.tf
Labels: cloud, terraform

#201 sorted out the dockerfile for the dashboard
  dashboard/Dockerfile
Labels: cloud
